<div class="spacing"></div>

<div id="footerwrap">
    <div class="container">
        
        <div class="spacing"></div>
        
        <div class="row">
            <div class="col-md-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-md-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h4>My Geolocation and Contact Info</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }}
                    {% endfor %}
                    <br>
                    {{ site.email }}
                </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->
